<% if params[:search].present? || params[:search] == "" %>
  <div class="text-center">
    <h1>Search Results!</h1>
  </div>
<% else %>
  <div class="text-center">
    <h1>PARKS</h1>
  </div>
<% end %>

<% if @parks.none? || params[:search] == "" %>
  <h5>No results found!</h5>
<% end %>

<% if user_signed_in? %>
<div class="row text-center">
  <div class="small-centered small-2 columns button small">
    <%= link_to "New Park", new_park_path, class: "new" %>
  </div>
</div>
<% end %>

<ul class="small-10 small-centered column">
  <%= render @parks %>
</ul>

<div class="text-center forgot-pass">
  <%= paginate @parks %>
</div>
