<h1>Search Results!</h1>

<% if @parks == [] %>
  <h5>No results found!</h5>
<% else %>
<ul>
    <% @parks.each do |park| %>
  <li>
      <%= link_to park.title, park_path(park) %>
      <%= park.location %>
      <%= park.rating %>
  </li>
    <% end %>
</ul>
<% end %>
